@-moz-document 
regexp('(http|https)://dota2\\.gamepedia\\.com.*')
{
  /*#B9500B*/
  /*#B44335*/
  /*#660000*/
  
  /*Everything Else*/
  
  div#content
  {
    background: #131313 !important;
    color: #CCCCCC !important;
  }
  
  div[style="background-color: #FDFAF8; border: 1px solid #aaa; margin: 0.75em 0; padding: 0.75em 1em; padding-bottom: 1em;"]
  {
    background: #131313 !important;
  }
  
  td[style="padding:0px;text-align:center;vertical-align:middle;background: #DEE8ED; text-align: center; font-size: 105%;;;;width:10em;"], td[style="border-left:2px solid #fdfdfd;padding:0px;text-align:center;vertical-align:middle;background: #DEE8ED; text-align: center; font-size: 105%;;;;width:10em;"]
  {
    background: #161616 !important;
  }
  
  table.ambox
  {
    background: #0A0A0A !important;
  }
  
  .mp-content-table
  {
    background: #0A0A0A !important;
    border: 1px solid #B9500B !important;
  }
  
  span[style="font-size: 15px; color: #000000;"], span[style="color: black;"]
  {
    color: #FAFAFA !important;
  }
  
  span[style="color: #660000;"]
  {
    color: #CCCCCC !important;
  }
  
  h1, h2, h3, h4, h5, h6
  {
    color: #FAFAFA !important;
  }
  
  strong, b, table
  {
    color: #CCCCCC !important;
  }
  
  a:link, a:visited
  {
    color: #0973BF !important;
  }
  
  #mp-layout .mp-block
  {
    border-color: #B9500B !important;
  }
  
  #mp-layout .mp-heading
  {
    color: #CCCCCC !important;
  }
  
  code
  {
    background: #0A0A0A !important;
    color: #FAFAFA !important;
  }
  
  table.match-calendar
  {
    background: #1C1C1C !important;
  }
  
  table.match-calendar > * > tr:nth-child(2n+1) > td
  {
    background: #161616 !important;
  }
  
  tr[style="font-size:9pt; background-color: #F0F5FF;"]
  {
    background: #1C1C1C !important;
  }
  
  tr[style="font-size:9pt; background-color: #FCFCFC;"]
  {
    background: #131313 !important;
  }
  
  tr[style="font-size:9pt; background-color: #FFF3B2;"]
  {
    background: #0A0A0A !important;
  }
  
  span[style="color: #313131"]
  {
    color: #FAFAFA !important;
  }
  
  tr[style="background: Gainsboro;"]
  {
    background: #1C1C1C !important;
  }
  
  tr[style="background: #B2FFB2;"]
  {
    background: #0A0A0A !important;
  }
  
  table[style="width: 50%; text-align: left;background-color:#dfdfdf;"]
  {
    background: #0A0A0A !important;
  }
  
  td[style="color:#383838;background-color:#cccccc;"]
  {
    background: #0A0A0A !important;
  }
  
  table[style="width:250px; font-family:Tahoma; font-size: 10pt; background-color: #FFFFFF; border: 1px solid #8A5300;"], table[style="width:250px; font-family:Tahoma; font-size: 10pt; background-color: #FFFFFF; border: 1px solid #CCCCCC;"]
  {
    background: #161616 !important;
  }
  
  td[style="background-color: #F9F9F9; text-align:center;"]
  {
    background: #1C1C1C !important;
  }
  
  span[title="To be decided"]
  {
    color: #FAFAFA !important;
  }
  
  tr[style="background-color: #f6f6f6; color: #000;"], tr[style="background-color: #f4f4f4; color: #000;"]
  {
    background-color: #1C1C1C !important;
  }
  
  div[style="border: 1px solid black; border-top-width: 1px; vertical-align: top;background: white;opacity: 1; color: black; text-align: left; margin: 0 0 10px; padding: 1em;padding-top: .3em;"]
  {
    background: #161616 !important;
  }
  
  div[style="clear: both; border: solid black; border-width: 1px 1px 0; background: #ffaea3; color: black; padding: .1em;padding-top: .1em;padding-left: .1em;padding-right: .1em;padding-bottom: .1em;text-align: center;font-family: arial;font-size:100%;margin-bottom: 0px;"]
  {
    background: #B44335 !important;
  }
  
  span[class="mw-headline"] > a
  {
    color: #FAFAFA !important;
  }
  
  #toc, .toc
  {
    background: #0A0A0A !important;
  }
  
  #toc h2, .toc h2
  {
    color: #FAFAFA !important;
  }
  
  .infobox
  {
    background: #161616 !important;
  }
  
  tr[style="background:#ededed"], .oddrowsgray tr:nth-child(2n+1)
  {
    background: #0A0A0A !important;
  }
  
  table[class="abilitytable"]
  {
    background: #131313 !important;
  }
  
  .navbox-title, table.navbox th
  {
    background: #B44335 !important;
  }
  
  table.navbox, .navbox-even, .navbox-odd, .navbox tr
  {
    background: #161616 !important;
  }
  
  .navbox-group
  {
    background: #1C1C1C !important;
    color: #CCCCCC !important;
  }
  
  div.skilllist-title
  {
    background: #B44335 !important;
    color: #FAFAFA !important;
  }
  
  li.skilllist-rich
  {
    background: #161616 !important;
  }
  
  div.skilllist-rich-head a, div.skilllist-rich-head a:link
  {
    color: #FAFAFA !important;
  }
  
  div[style="max-height:300px; overflow-y:scroll; overflow-x: auto; margin:3px 0; border:1px solid #888888; padding-left:0.5em; box-sizing:border-box; -moz-box-sizing:border-box; background-color: #EBF5FF; -moz-border-radius-topleft:0.5em;"]
  {
    background: #0A0A0A !important;
  }
  
  th[style="margin-top: auto; margin-bottom: auto; height: 124px; background: rgb(252, 252, 252) none repeat scroll 0% 0%;"], th[style="background:#fcfcfc;margin-top:auto;margin-bottom:auto;height:124px;"]
  {
    background-color: #2D2D2D !important; /*Needs to be bright enough for team logos*/
  }
  
  .tournament-bracket .round-title, .tournament-bracket .match-score
  {
    background: #0A0A0A !important;
  }
  
  .tournament-bracket .path-top, .tournament-bracket .path-right, .tournament-bracket .path-bottom, .tournament-bracket .path-left
  {
    border-color: #FAFAFA !important;
  }
  
  td[style="border-width:0 0 1px 1px; border-style:solid;border-color:black;"], td[style="border-width:1px 0 0 1px; border-style:solid;border-color:black;"], td[style="border-width:0 1px 1px 0; border-style:solid;border-color:black;"], td[style="border-width:1px 1px 0 0; border-style:solid;border-color:black;"], td[style="border-width:0 0 1px 0; border-style:solid;border-color:black;"]
  {
    border-color: #FAFAFA !important;
  }
  
  td[style="height: 45px; background-color:#66E066;"]
  {
    background: #B44335 !important;
  }
  
  div.mw-warning-with-logexcerpt, .smw-editpage-help, .editOptions
  {
    background: #0A0A0A !important;
  }
  
  font > b
  {
    color: #2D2D2D !important; /*Team ranking needs to be bright-gray*/
  }
  
  table[style="font-family:Tahoma; width:100%; font-size: 10pt; background-color: #FFFFFF; border: 1px solid #CCCCCC;"]
  {
    background: #161616 !important;
  }
  
  td[style="background-color: #f4f4f4; text-align:center; font-size:110%;"], td[style="background-color: #f4f4f4; text-align:center;"], td[style="background-color: #fcfcfc; text-align:center;"]
  {
    background: #161616 !important;
  }
  
  tr[bgcolor="#CCFFCC"], tr[bgcolor="#FFC"], tr[bgcolor="#CCFFCC"] > td > b, tr[bgcolor="#FFC"] > td > b
  {
    color: #2D2D2D !important;
  }
  
  td > b
  {
    color: #FAFAFA !important;
  }
  
  li.gallerybox div.thumb, div.thumbinner
  {
    background-color: #0A0A0A !important;
  }
  
  table.wikitable
  {
    background: #161616 !important;
  }
  
  table.wikitable > tbody > tr > th
  {
    background: #161616 !important;
  }
  
  table.wikitable .header
  {
    background: #B44335 !important;
    color: #FAFAFA !important;
  }
  
  table[style="float: right; clear: right; font-family:Tahoma; font-size: 10pt; background-color: #FFFFFF; border: 1px solid #CCCCCC; width: 20em;"], td[style="background-color: #fcfcfc; text-align:center; color: #000;"], td[style="background:#FDE6E3; text-align:center;"]
  {
    background: #161616 !important;
  }
  
  td[style="background-color: #c4c4c4; text-align:center; color: #000;"], td[style="width: 50%; background-color: #f6f6f6; text-align: center; color: #000; font-size: 8.5pt;"]
  {
    background: #0A0A0A !important;
  }
  
  td[style="background-color: #Fcfcfc; text-align:center;"]
  {
    background: #1C1C1C !important;
  }
  
  td[style="text-align:center; width:2em; background-color: #fcfcfc; border: 1px solid #CCC;"], td[bgcolor="#f2f2f2"]
  {
    background: #0A0A0A !important;
  }
  
  tr[style="font-size:9pt; background-color:#FFF3B2;"]
  {
    background: #0A0A0A !important;
  }
  
  tr[style="font-size:9pt; background-color:#F0F5FF;"]
  {
    background: #161616 !important;
  }
  
  tr[style="font-size:9pt; background-color:#FCFCFC;"]
  {
    background: #1C1C1C !important;
  }
  
  td[style="padding: 0.5em; background-color: #d7e6f4; line-height: 0.95em; border: 1px solid #A3B1BF; border-bottom: solid 2px #A3B1BF; width: 20px;"]
  {
    background: #0A0A0A !important;
  }
  
  td[style="padding:0.5em; background-color:white; line-height:0.95em; border:solid 2px #A3B1BF; border-bottom:0; font-weight:bold; width: 20px;"]
  {
    background: #131313 !important;
  }
  
  td > img[height="10"]
  {
    filter: invert(91.5%); /*91.5% = #161616*/
    -webkit-filter: invert(91.5%);
  }
  
  img[src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/thumb/b/b6/Copyright.png/56px-Copyright.png?version=0a8ebec77d9c0952d623dcde0b15432a"]
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  
  table.mw_metadata td, table.mw_metadata th
  {
    background: #0A0A0A !important;
  }
  
  ul#filetoc
  {
    background: #0A0A0A !important;
  }
  
  .catlinks
  {
    background: #0A0A0A !important;
  }
}