@-moz-document
  url-prefix("http://www.gog.com/"),
  url-prefix("https://www.gog.com/")
  {
    body, html
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .form
    {
      background: #1C1C1C !important;
      color: #FAFAFA;
    }
    
    .user__name, .user__email
    {
      color: #FAFAFA !important;
    }
    
    .field__input
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    #big-spot-blur--1, #big-spot-blur--2, #big-spot-blur--3, #big-spot-blur--4, .content, .big-spots__blurs
    {
      background: #1C1C1C;
    }
    
    .big-spots__header, .module-header, .product-row__title, .price-btn__text, .module-header__btn.is-active, .news-item__title, .header__title, .product-details, .sysreq__text, .description, .description__header, .reviews, .reviews__header, .user-review, .user-review__author, .module__bottom--single > .module-btn--bottom, .footnotes__text, .pagin[ng-click], .gogmix__title, .top-nav__extras, .top-nav-cart__price, .product-title, .top-nav-cart-option, .nickname, .menu_search.initval, #templateStaContainer input, .no_results > .first-line, .no_results > .dark_un, .game-item-title-in, .main_tab, .code-info__label, .list-header__text, .order-article, .tw3-banner__text, .tw3-price__amount
    {
      color: #FAFAFA;
    }
    
    .tw3-price__you-save
    {
      color: #A1C500;
    }
    
    .top-nav__item-count
    {
      background: #0A0A0A;
      color: #FAFAFA;
      border: solid white 1px;
    }
    
    .code-input-bottom
    {
      background: #0A0A0A;
    }
    
    .redeem-header__text
    {
      color: #FAFAFA;
      border-color: #FAFAFA;
    }
    
    .code-input .btn
    {
      background: #1C1C1C;
      color: #FAFAFA;
      border: solid white 1px;
    }
    
    .order__related-games .product-row
    {
      background: #0A0A0A;
    }
    
    .order__related-games .product-row:hover
    {
      background: #1C1C1C;
    }
    
    .form__row--interactive:hover
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .form__row--interactive
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .accordion__body
    {
      background: #0A0A0A;
    }
    
    .settings_h .handsome_select select
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .settings_h .settings_save
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .settings_h input[disabled="disabled"]
    {
      background: #0A0A0A;
    }
    
    .search_term
    {
      color: #FAFAFA;
      font-style: italic;
      font-weight: bolder;
    }
    
    .frontpage-wrapper
    {
      z-index: unset;
    }
    
    .product-row--grid .product-row__text, .list--grid .product-row .product-row__text
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .product-row--has-card:hover
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .product-row--has-card
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .module__bottom
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .module__bottom:hover:not(.no-ho)
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .news-item
    {
      background: #1C1C1C;
      color: #FAFAFA;
      border-top: solid white 1px;
    }
    
    .news-item:hover
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .top-nav__item ._dropdown__toggle:hover, .top-nav__item:hover:not(.is-expanded):not(.top-nav__login), .filter.is-contracted:hover
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .top-nav__item ._dropdown__toggle, .top-nav__item, .filter
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .module--filters
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .filter.is-selected
    {
      color: #FAFAFA;
      background: #0A0A0A;
    }
    
    .filters__search > ._search__input, .menu_search_h, input.str_s_in, .code-input__input, .input
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    ._search__icon
    {
      z-index: 1;
    }
    
    .top-nav__dd-item:hover
    {
      background: #0A0A0A;
    }
    
    .top-nav__dd-item
    {
      background: #1C1C1C;
    }
    
    .top-nav__inner
    {
      position: unset;
    }
    
    .top-nav__container
    {
      background: #1C1C1C;
      border-left: solid black 1px;
    }
    
    .top-nav-extras-search-holder
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    ._dropdown__item
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    ._dropdown__item:hover
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .icon-bonus-addons, .icon-bonus-avatar, .icon-bonus-guide, .icon-bonus-manual, .icon-bonus-photo, .icon-bonus-soundtrack, .icon-bonus-video, .icon-bonus-wallpaper, .icon_13, .icon_14, .icon_15, .icon_3, .icon_4, .icon_5, .icon_
    {
      background-image: url("http://downrisingentertainment.com/userstyles/darkgog/Ratings.png");
    }
    
    div.str_s_left
    {
     background: url("http://downrisingentertainment.com/userstyles/darkgog/MiscIcons.png");
    }
    
    input.str_s_in
    {
      background: #1C1C1C;
      border-bottom: solid white 1px;
      border-top: solid white 1px;
    }
    
    div.str_s_right
    {
      background: url("http://downrisingentertainment.com/userstyles/darkgog/MiscIcons.png") no-repeat scroll -251px 0px transparent;
      height: 23px;
      width: 10px;
    }
    
    div.sub_header_s
    {
      background: url("http://downrisingentertainment.com/userstyles/darkgog/Icon2.png");
    }
    
    .top-nav__item.is-active
    {
      background: #0A0A0A;
    }
    
    div.s_alert, div.l_b_title_text, .l_b_list li
    {
      color: #FAFAFA;
    }
    
    div.light_box_main
    {
      background: #1C1C1C;
    }
    
    .filters__dropdowns
    {
      background: #1C1C1C;
    }
    
    .wishlist-btn, .social-btn, .module .gogmix
    {
      background: #1C1C1C;
      color: #FAFAFA;
      border-bottom: solid white 1px;
      border-top: solid white 1px;
    }
    
    .wishlist-btn:hover, .social-btn:hover, .module .gogmix:hover
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .module--buy-series .module__top, .module--buy .module__top, .module__foot
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    ._dropdown__item--unobtrusive, .dropdown
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .dropdown.expanded, .dropdown .item.selected
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .dropdown .item
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .dropdown .item:hover
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .menu_bar
    {
      background: #1C1C1C;
    }
    
    .dropdown.disabled, .dropdown > .arrow_h
    {
      background: #1C1C1C;
      color: #8C8C8C;
    }
    
    .menu_btn.active, .list_btn.active
    {
      background: #0A0A0A;
      color: #FAFAFA;
      border: solid white 1px;
    }
    
    .shelf, .list, .list_btn
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .list_frame .game-item
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .list_header, .module
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .main_tab.active, .main_tab.active:hover, .filter__items
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .main_tab:hover
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
    
    .wlist_paper
    {
      background: #1C1C1C;
      border-top: solid white 1px;
      border-bottom: solid white 1px;
    }
    
    .wlist_margin
    {
      background: #1C1C1C;
    }
    
    .wlist_item .dark_un:hover, .wlist_item .dark_un
    {
      color: #FAFAFA;
    }
    
    .game-item
    {
      border-bottom: solid white 1px;
    }
    
    .wlist_header
    {
      color: #FAFAFA;
      border-bottom: solid white 1px;
    }
    
    div.big_bar_m, div.big_bar_l, div.big_bar_r, div.search_bar_l, div.search_bar_r
    {
      background: #1C1C1C;
    }
    
    div.b_b_i_text, div.big_bar_item_1 a, div.big_bar_item_2 a, div.big_bar_item_3 a, div.big_bar_item_4 a, div.g_c_r_i_text a
    {
      color: #FAFAFA;
    }
    
    .gray_un
    {
      color: #FAFAFA !important;
    }
    
    div.search_bar_m
    {
      background: #1C1C1C;
      color: #FAFAFA;
      border-top: solid white 1px;
      border-bottom: solid white 1px;
    }
    
    .module_in
    {
      background: #1C1C1C;
    }
    
    .item
    {
      background: #1C1C1C;
    }
    
    .wishlist_highlights
    {
      background: #1C1C1C;
    }
    
    div.list_row_odd, div.big_post_main
    {
      background: #1C1C1C;
    }
    
    div.last_update
    {
      color: #FAFAFA;
    }
    
    .content_holder.active
    {
      background: #1C1C1C;
    }
    
    .column.left h3, .column.left
    {
      color: #FAFAFA;
    }
    
    .btn--gray:hover:not(.is-spinning):not(.is-disabled):not([disabled])
    {
      background: #1C1C1C;
      color: #FAFAFA;
    }
    
    .btn--gray
    {
      background: #0A0A0A;
      color: #FAFAFA;
    }
  }