@-moz-document 
  url-prefix("http://gfycat.com"),
  url-prefix("https://gfycat.com")
{
  html, body
  {
    background: #1C1C1C;
  }
  
  section#jiffiest .content .vidWrap > video, section#viewVideo .content .vidWrap > video 
  {
    background: #1C1C1C;
  }
  
  section#viewVideo .content > .thumbs .col-xs-2
  {
    background: #1C1C1C;
  }
  
  section#viewVideo > .header > .inlineGroup .tag, section#viewVideo .content > .menuBar > .left .tags .tag, section#viewVideo .content > .menuBar > .right button, section#trending .content .thumbs .inlineGroup .tag
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  section#trending, section#viewVideo, section#jiffiest
  {
    background: #1C1C1C;
    color:#FAFAFA;
  }
  
  section#trending .mvpTrendTag .next, section#trending .mvpTrendTag .prev, section#jiffiest .mvpFeeds .next, section#jiffiest .mvpFeeds .prev, section#viewVideo .content.small .prev, section#viewVideo .content.small .next, section#viewVideo .content.big .prev, section#viewVideo .content.big .next
  {
    background: #0A0A0A;
  }
  
  section#viewVideo .content > .menuBar
  {
    background: #1C1C1C;
  }
  
  section#viewVideo .content .sidebar, section#viewVideo .content .sidebar .pnlTop ul.list-group > li
  {
    color: #FAFAFA;
    background: #0A0A0A;
  }
  
  section#viewVideo .content .sidebar .pnlMenu .btn-group .btn
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  h1, h2, h3, h4, h5, h6
  {
    color: #FAFAFA !important;
  }
  
  section#viewVideo .content.small .sidebar .pnlTop .btn-group > button, section#viewVideo .content.big .sidebar .pnlTop .btn-group > button
  {
    background: #1C1C1C;
  }
  
  section#viewVideo .content .sidebar .pnlMenu .btn-group-lg .btn.show + div.menuPane
  {
    background: #0A0A0A;
  }
  
  section#viewVideo .content.small .sidebar .pnlMenu .btn-group > .btn.show
  {
    background: #1C1C1C
  }
  
  #modalDialog .ng-modal-dialog > .content, #modalDialog .ng-modal-dialog .footer
  {
    background: #1C1C1C;
  }
  
  #modalDialog .ng-modal-dialog .content .tabsWrap ul.nav > li.selected > a:hover, #modalDialog .ng-modal-dialog .content .tabsWrap ul.nav > li.fromURL > a
  {
    color: #FAFAFA;
    background: #0A0A0A;
  }
  
  #modalDialog .ng-modal-dialog .content .tabsWrap ul.nav > li > a
  {
    color: #FAFAFA;
    background: #0A0A0A;
  }
  
  #modalDialog .ng-modal-dialog .content .tabsWrap ul.nav > li.selected > a
  {
    color: #FAFAFA;
    background: #1C1C1C;
  }
  
  #modalDialog .ng-modal-dialog .content .tabsWrap ul.nav > li > a:hover
    {
      color: #FAFAFA;
      background: #1C1C1C;
    }
  
  #modalDialog .ng-modal-dialog .content .uploadPanel div.directions, #modalDialog .ng-modal-dialog .footer > .border
  {
     background: #1C1C1C; 
  }
  
  .input-group .form-control:first-child
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .input-group-btn:last-child > .btn
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  .dropdown-menu > li > a:hover
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  .dropdown-menu > li > a
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .open > .dropdown-menu
  {
    background: #1C1C1C
  }
  
  section#viewVideo .content > .description
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  #modalDialog .ng-modal.login .ng-modal-dialog > .content, #modalDialog .ng-modal.login #login .signUp 
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
} 