@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("https://steamdb.info/") 
{

    div.footer-wrap, div.wrapper-info 
    {
        background: #1C1C1C;
        color: #FAFAFA;
    }
    
    .app-history ins
    {
        background: #43A047 !important;
    }
    
    .app-history del 
    {
        background: #D81B60 !important;
    }
    
    .surface-tension
    {
        background: #0A0A0A;
    }
    
    .surface-tension:hover, .surface-tension:focus
    {
        background: #1C1C1C;
    }
    
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th, h2, div.panel-heading, .post blockquote,
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, p.center, p.copyright, select, pre, div.page-header 
    {
       background-color: #0A0A0A;
       color: #FAFAFA;
       text-shadow: none;
    }
    
    div.panel, table.table 
    {
        background: #0A0A0A;
        color: #FAFAFA;
    }
    
    .chart
    {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    
    .table-products tr:hover .subinfo, .table-products a, .muted > a, .wrapper-top10 .table-products tr:hover a, .steamspy-stats strong
    {
        color: #FAFAFA;
    }
    
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th 
    {
        background: #1C1C1C;
        color: #FAFAFA;
    }
    
    div.footer 
    {
        background: #000;
        color: #FAFAFA;
    }

    p, b, li 
    {
       color: #FAFAFA;
    }

    a:visited, a, a:hover
    { 
        color: #0973BF; 
    }

    h2.header-subtitle 
    { 
        background: none; 
    }

    span.ribbon 
    { 
        background: #993399; 
    }
    
    tr.owned td
    {
        background: #116326;
        color: #FAFAFA;
    }
    
    tr.owned:hover td
    {
        background: #2D2D2D !important;
    }
    
    .tabbable > .tabnav .selected
    {
        background: #1C1C1C;
    }
    
    .tabnav-tab
    {
        color: #FAFAFA;
    }
    
    .footer .awesome
    {
        background: #0A0A0A;
    }
    
    .footer .awesome:hover
    {
        background: #1C1C1C;
    }
    
    .btn-outline:hover, .pagination > .active > span, .pagination > li > a:hover
    {
        background: #0A0A0A;
        border: solid white 1px;
    }
    
    .btn-outline, .pagination > li > a
    {
        background: #1C1C1C;
        border: solid white 1px;
    }
    
    .dropdown-menu
    {
        background: #1C1C1C;
    }
    
    .dropdown-menu a
    {
        color: #FAFAFA;
    }
    
    .dropdown-menu li > a:hover
    {
        background: #0A0A0A;
        color: #FAFAFA;
    }
    
    .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .tabnav-tab.selected
    {
        background: #0A0A0A;
        color: #FAFAFA;
        border-top: solid white 1px;
        border-bottom: solid white 1px;
    }
    
    .forum-section:hover
    {
        background: #0A0A0A;
    }
    
    .muted
    {
        color: #FAFAFA;
    }
    
    .input-contrast, .comment-update textarea, .comment-new textarea
    {
        background: #1C1C1C !important;
        color: #FAFAFA;
    }
    
    .calculator-form input
    {
        color: #FAFAFA;
    }
}
