@-moz-document
regexp("(http|https)://genius.com/.*")
{
  body
  {
    background: #141414 !important;
    color: #EEEEEE !important;
    font-size: 15px;
    line-height: 140%;
    min-height: 100vh;
  }
  
  input
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
  }
  
  input::placeholder
  {
    color: #FAFAFA !important;
  }
  
  .global_search-search_icon
  {
    fill: #FAFAFA !important;
  }
  
  .full_width_button
  {
    background: #1C1C1C !important;
    color: #FAFAFA !important;
  }
  
  .full_width_button:hover
  {
    background: #161616 !important;
    color: #FAFAFA !important;
  }
  
  .mini_card-info
  {
    background: #333333 !important;
  }
  
  .u-top_margin
  {
    color: #FAFAFA !important;
  }
  
  .feed_dropdown--darker_background
  {
    background: #0A0A0A !important;
  }
  
  .mini_card-lyric_excerpt
  {
    color: #CCCCCC !important;
  }
  
  .mini_card-lyric_excerpt span
  {
    color: #FAFAFA !important;
  }
  
  .u-white_background
  {
    background: #141414 !important;
  }

  .square_button
  {
    background: #0A0A0A !important;
  }
  
  .global_home_page-load_more
  {
    background: #333333 !important;
    color: #EEEEEE !important;
  }
  
  .horizontal_section--white_background
  {
    background: #141414 !important;
  }
  
  .articles
  {
    background: #141414 !important;
  }
  
  .home_featured_latest_story
  {
    color: #EEEEEE !important;
  }
  
  .feed_dropdown-header
  {
    background: #141414 !important;
  }
  
  .feed_dropdown-item--link
  {
    background: #333333 !important;
    color: #EEEEEE !important;
  }
  
  .feed_dropdown-item--link:hover
  {
    background: #99a7ee !important;
    color: #EEEEEE !important;
  }
  
  .white_container
  {
    background: #141414 !important;
  }
  
  .statistics_panel
  {
    background: #141414 !important;
  }
  
  .feed_dropdown-item
  {
    background: #333333 !important;
    color: #EEEEEE !important;
  }
  
  .feed_dropdown-item:hover
  {
    background: #99a7ee !important;
  }
  
  .home_charts_song:hover
  {
    background: #333333 !important;
  }
  
  .home_charts_song--big .home_charts_song-number_container-number
  {
    border-color: #EEEEEE !important;
  }
  
  .inline_icon
  {
    fill: #EEEEEE !important;
  }
  
  .home_charts_show_more > svg > g
  {
    filter: invert(100%);
  }
  
  .home_charts_song--big_border
  {
    border-color: #EEEEEE !important;
  }
  
  .chart_row:hover
  {
    background: #181818 !important;
  }
  
  .text_label--button.text_label--button
  {
    color: #EEEEEE !important;
  }
  
  .recirculated_content-title
  {
    color: #EEEEEE !important;
  }
  
  .song_info--table .song_info-info
  {
    color: #EEEEEE !important;
  }
  
  .vertical_selector-option--selected
  {
    background: #0A0A0A !important;
  }
  
  .vertical_selector-option:hover
  {
    background: #181818 !important;
  }
  
  .act-show.cont-home
  {
    background: #141414 !important;
  }
  
  .article_header
  {
    background-color: #141414 !important;
  }
  
  .article_header-headline
  {
    color: #EEEEEE !important;
  }
  
  .article_header-sub_headline, .track_listing a
  {
    color: #EEEEEE !important;
  }
  
  .text_label--button
  {
    border-color: #EEEEEE !important;
  }
  
  div[class="song_body"], .song_body
  {
    background: #141414 !important;
  }
  
  .song_media_controls-playpause .media_control-button circle
  {
    fill: #0A0A0A !important;
  }
  
  .mini_user_card
  {
    background: #161616 !important;
  }
  
  .mini_user_card-summary
  {
    color: #FAFAFA !important;
  }
  
  .song_album a
  {
    color: #CCCCCC !important;
  }
  
  .song_album a:hover
  {
    color: #FAFAFA !important;
  }
  
  .lyrics img, .lyrics p
  {
    color: #CCCCCC !important;
  }
  
  .referent
  {
    background: #353535 !important;
    color: #EEEEEE !important;
    box-shadow: none !important;
  }
  
  .referent--highlighted
  {
    background: /*[[lyricHover]]*/ !important;
    color: /*[[lyricHoverText]]*/ !important;
  }
  
  .referent--green
  {
    background: #13AD27 !important;
    color: #000000 !important;
  }
  
  .referent--green.referent--highlighted
  {
    background: #18E233 !important;
    color: #000000 !important;
  }
  
  .square_button
  {
    color: #EEEEEE !important;
    border-color: #EEEEEE !important;
  }
  
  .windows .gray_container, .annotation_sidebar_unit
  {
    background: #202020 !important;
  }
  
  .user_tooltip
  {
    background: #0A0A0A !important;
  }
  
  .primary_album a
  {
    color: #FAFAFA !important;
  }
  
  .metadata_unit-info
  {
    color: #CCC !important;
  }
  
  .metadata_unit-icon, .metadata_with_icon-icon
  {
    fill: #FAFAFA !important;
  }
  
  .metadata_with_icon--hot .metadata_with_icon-icon
  {
    fill: #ff1464 !important;
  }
  
  .square_input
  {
    background: #333333 !important;
    color: #CCCCCC !important;
  }
  
  .song_page_grid-column_span--primary
  {
    background: #141414 !important;
    border-left: solid #333333 1px;
    border-right: solid #626262 1px;
  }
  
  .song_page_grid-column_span--secondary
  {
    background: #141414 !important;
  }
  
  .lyrics_controls
  {
    background: #141414 !important;
  }
  
  .modal_window-content
  {
    background: #161616 !important;
  }
  
  .tags_input .tag-item
  {
    background: #131313 !important;
  }

  .song_media_controls-controls--docked
  {
    background: #333333 !important;
    border: solid black 1px !important;
  }

  .videos--bordered
  {
    background: #0A0A0A !important;
    border-color: #0A0A0A !important;
  }
}