@-moz-document
regexp("(http|https)://duckduckgo.com.*")
{
  body
  {
    font-family: sans-serif !important;
	  background: url("/*[[img]]*/") /*[[clr]]*/ bottom fixed !important;
    /*[[backgroundMode]]*/
    color: #FAFAFA !important;
  }
  
  .site-wrapper, .site-wrapper--home, .zci, .tileview--grid, .zci-wrap
  {
    background: transparent !important;
  }
  
  .nav-menu--slideout
  {
    background: #333333 !important;
  }
  
  .nav-menu--slideout > ul > ul > li > span
  {
    color: #FAFAFA !important;
  }
  
  .nav-menu--slideout > ul > ul > li > a
  {
    color: #CCCCCC !important;
  }
  
  .nav-menu__theme-color
  {
    border: solid black 1px !important;
  }
  
  .search-filters-wrap::before, .search-filters-wrap::after
  {
    background: transparent !important;
  }
  
  .header-wrap
  {
    background: #161616 !important;
    border-bottom: solid #000 2px !important;
    box-shadow: 0 1px 1px #0A0A0A !important;
  }
  
  .feedback-btn
  {
    background: #333333 !important;
  }
  
  .feedback-btn:hover
  {
    background: #222222 !important;
  }
  
  .feedback-btn > a
  {
    color: #FAFAFA !important;
  }
  
  .mapview__close, .metabar__mode
  {
    background: #3C3C3C !important;
    color: #CCC !important;
  }
  
  .mapview__close:hover, .metabar__mode:hover
  {
    background: #2C2C2C !important;
    color: #FAFAFA !important;
  }
  
  .map-module-place-name .map-module-place
  {
    color: #FAFAFA !important;
  }
  
  .map-module-place-name .map-module-address
  {
    color: #CCCCCC !important;
  }
  
  .zcm__link
  {
    color: #FAFAFA !important;
  }
  
  .zcm__link:focus, .zcm__link:hover
  {
    color: #CCCCCC !important;
  }
  
  .zcm__link.is-active
  {
    color: #de5833 !important;
  }
  
  .zcm__link--sub, .zcm__link--sub:visited
  {
    color: #999999 !important;
  }
  
  .zcm__link--sub:hover, .zcm__link--sub.is-highlighted
  {
    color: #FAFAFA !important;
  }
  
  .tileview--grid .metabar--fixed.is-stuck
  {
    background: #333333 !important;
  }
  
  .tile__body, .tile--s, .tile--info
  {
    background-color: #333333 !important;
  }
  
  .metabar__grid-btn
  {
    background: #2C2C2C !important;
    color: #FAFAFA !important;
  }
  
  .metabar__grid-btn:hover
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
  }
  
  .metabar__dropdowns-wrap::before, .metabar__dropdowns-wrap::after
  {
    background: transparent !important;
  }
  
  .dropdown__button
  {
    color: #FAFAFA !important;
  }
  
  .modal__header
  {
    background: #2C2C2C !important;
    color: #FAFAFA !important;
  }
  
  .modal__body
  {
    background: #333333 !important;
  }
  
  .modal__list > li > a
  {
    color: #FAFAFA !important;
  }
  
  .modal__list > li > a > span
  {
    color: #CCCCCC !important;
  }
  
  .modal__list__link:active, .modal__list__link:hover, .modal__list__link.is-highlighted
  {
    background: #222222 !important;
  }
  
  .modal--dropdown--region.modal--popout .frm__input
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
  }
  
  .tileview .metabar--fixed
  {
    background: #1C1C1C !important;
    border-bottom: solid #505050 1px !important;
  }
  
  .tileview
  {
    background: #131313 !important;
    border-bottom: solid 1px !important;
  }
  
  .has-tiles .tile, .has-tiles .tile--s
  {
    background: #0A0A0A !important;
  }
  
  .tile__title
  {
    color: #FAFAFA !important;
  }
  
  .tile__title__sub
  {
    color: #FAFAFA !important;
  }
  
  .tile__content
  {
    color: #CCCCCC !important;
  }
  
  .tag-home__item
  {
    color: #FAFAFA !important;
  }
  
  .metabar__item-type, .metabar__primary-text
  {
    color: #FAFAFA !important;
  }
  
  .metabar__term
  {
    color: #FAFAFA !important;
  }
  
  .search-filter--region .search-filter__icon
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  
  #search_form_homepage
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
    border: solid #0A0A0A 1px !important;
  }
  
  #search_form_input_homepage
  {
    color: #FAFAFA !important;
  }
  
  .search--header
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
    border: solid #0A0A0A 1px !important;
  }
  
  .search--header .search__input, .search--header .search__input--adv
  {
    color: #FAFAFA !important;
  }
  
  .search__autocomplete
  {
    border: solid black 1px !important;
  }
  
  .acp-wrap
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
  }
  
  .acp--highlight
  {
     background: linear-gradient(#3C3C3C, #2E2E2E) !important;
  }
  
  .acp, .acp--bang
  {
    color: #CCCCCC !important;
  }
  
  .acp strong, .acp--bang strong
  {
    color: #FAFAFA !important;
    font-weight: bold !important;
  }
  
  .result.highlight
  {
    background: transparent !important;
  }
  
  .result__menu
  {
    color: #CCCCCC !important;
  }
  
  .result__menu:hover
  {
    color: #FAFAFA !important;
  }
  
  .result__a
  {
    color: #FAFAFA !important;
  }
  
  .result__snippet
  {
    color: #CCCCCC !important;
  }
  
  .result__snippet b, .result__snippet strong
  {
    color: #FAFAFA !important;
  }
  
  .result__url__domain
  {
    /*#0973BF*/
    color: #3a7fb4 !important;
  }
  
  .full-urls .result__url__full
  {
    color: #999999 !important;
  }
  
  .text--primary, .tx-clr--dk, .tx-clr--slate
  {
    color: #FAFAFA !important;
  }
  
  .module__title__link, .module__title__link:visited
  {
    color: #FAFAFA !important;
  }
  
  .module__title__link:hover, .module__title__link:active, .module__official-url, .module__wikipedia-url, .module__official-url:hover, .module__wikipedia-url:hover
  {
    color: #3a7fb4 !important;
  }
  
  .module__text
  {
    color: #FAFAFA !important;
  }
  
  .about-info-box__info-label
  {
    color: #FAFAFA !important;
  }
  
  .about-info-box__info-value
  {
    color: #CCCCCC !important;
  }
  
  .about-info-box__toggle--hover .about-info-box__toggle__chevron, .about-info-box__toggle--hover .about-info-box__toggle__chevron--collapse
  {
    background: #2C2C2C !important;
  }
  
  .video-source
  {
    color: #FAFAFA !important;
  }
  
  .tile__count
  {
    color: #CCCCCC !important;
  }
  
  .msg__text
  {
    color: #FAFAFA !important;
  }
  
  .msg__site
  {
    color: #CCCCCC !important;
  }
  
  .msg__all, .msg__all:visited
  {
    color: #3a7fb4 !important;
  }
  
  .zci__def__pronunciation
  {
    color: #CCCCCC !important;
  }
  
  .zci__def__part-of-speech, .zci__def__definition
  {
    color: #FAFAFA !important;
  }
  
  .tx-clr--dk2, .tx-clr--slate-light
  {
    color: #FAFAFA !important;
  }
  
  .zci__more-at, .zci__more-at:focus
  {
    color: #CCCCCC !important;
  }
  
  .c-info__title
  {
    color: #FAFAFA !important;
  }
  
  .c-info__title__sub
  {
    color: #CCCCCC !important;
  }
  
  .c-info__content, .c-list__content, .c-base__content
  {
    color: #FAFAFA !important;
  }
  
  .c-info__link
  {
    color: #999999 !important;
  }
  
  .c-info__link:hover, .c-info__link:focus
  {
    color: #3a7fb4 !important;
  }
  
  .module
  {
    background: #1C1C1C !important;
  }
  
  .btn, .button
  {
    background: #2C2C2C !important;
    color: #FAFAFA !important;
  }
  
  .btn:hover, .button:hover
  {
    background: #3C3C3C !important;
    color: #FAFAFA !important;
  }
  
  .zci--calculator .tile__calc .tile__history
  {
    background: #161616 !important;
  }
  
  .zci--calculator .tile__calc .tile__display
  {
    background: #3C3C3C !important;
  }
  
  .zci--calculator .tile__calc .tile__ctrl__btn
  {
    background: linear-gradient(#3C3C3C, #2C2C2C) !important;
    color: #FAFAFA !important;
  }
  
  .zci--calculator .tile__calc .tile__ctrl__btn:hover
  {
    background: #2C2C2C !important;
    color: #FAFAFA !important;
  }
  
  .zci--calculator .tile__calc .tile__ctrl--important
  {
    background: linear-gradient(#2C2C2C, #1C1C1C) !important;
  }
  
  .zci--calculator .tile__calc .tile__ctrl--important:hover
  {
    background: #2C2C2C !important;
  }
  
  .zci--calculator .tile__calc .tile__tab__sci .tile__ctrl__btn
  {
    background: linear-gradient(#1C1C1C, #131313) !important;
  }
  
  .zci--calculator .tile__calc .tile__tab__sci .tile__ctrl__btn:hover
  {
    background: #131313 !important;
  }
  
  .zci--calculator .tile__calc .tile__ctrl__toggle
  {
    background: linear-gradient(#1C1C1C, #131313) !important;
  }
  
  .zci--calculator .tile__calc .tile__ctrl__toggle > span
  {
    color: #FAFAFA !important;
  }
  
  .zci--calculator .tile__ctrl__toggle-slider::before
  {
    background: #6C6C6C !important;
  }
  
  .zci--calculator .tile__ctrl__toggle-slider
  {
    background: #3C3C3C !important;
  }
  
  .zci--calculator .tile__calc .tile__display__aside
  {
    color: #FAFAFA !important;
  }
  
  .zci--calculator .tile__calc .tile__display__main
  {
    color: #FAFAFA !important;
  }
  
  .zci--calculator .tile__calc .tile__past-calc
  {
    background: #161616 !important;
  }
  
  .zci--calculator .tile__calc .tile__past-formula
  {
    color: #FAFAFA !important;
  }
  
  .zci--calculator .tile__calc .tile__past-result
  {
    color: #FAFAFA !important;
  }
}